{{!-- The footer at the very bottom of the screen --}}
<footer class="site-footer">
    <div class="site-footer-content">
        <nav class="site-footer-subscribe">
            <a href="{{@site.url}}/rss/" target="_blank"><i class="fas fa-rss"></i>Subscribe via RSS</a>
            {{#if @labs.subscribers}}<a href="#subscribe"><i class="fas fa-envelope"></i>Subscribe via email</a>{{/if}}
        </nav>
        <nav class="site-footer-external">
            {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>{{/if}}
            {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>{{/if}}
            {{> "custom/nav-external"}}
        </nav>
        <nav class="site-footer-text">
            <section class="copyright">&copy; <a href="{{@site.url}}">{{@site.title}}</a> {{date format="YYYY"}}</section>
        </nav>
        <nav class="site-footer-text">
            <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> &amp;
            <a href="https://github.com/dlecina/StayPuft" target="_blank" rel="noopener">StayPuft</a>
        </nav>
    </div>
</footer>