{{!-- The big featured header, it uses site cover image as a BG if available --}}
<header class="site-header">
    <div class="site-header-content">
        <div class="site-header-picture">
            {{#if @site.logo}}
                <a class="site-logo" href="{{@site.url}}"><img src="{{img_url @site.logo}}" alt="{{@site.title}}"/></a>
            {{/if}}
        </div>
        <div class="site-header-text">
            <a href="{{@site.url}}"><h1 class="site-title">{{@site.title}}</h1></a>
            <h2 class="site-description">{{@site.description}}</h2>
        </div>
    </div>
</header>