{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/staypuft.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body class="error-template">
    <div class="site-wrapper">

        {{!-- Sidebar (Landscape) / Header (Portrait) --}}
        <div id="sidebar" {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})"{{/if}}>
            <div>
                {{!-- Header --}}
                {{> "site-header"}}
            </div>
            <div class="landscape">
                {{!-- Footer (Landscape mode only)--}}
                {{> "site-footer" }}
            </div>
        </div>
        
        <main id="site-main" class="site-main outer">
            <div class="inner">
                {{!-- Error --}}
                <section class="error-message">
                    <h1 class="error-code">{{code}}</h1>
                    <p class="error-description">{{message}}</p>
                    <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
                </section>

                {{!-- Posts --}}
                {{#get "posts" limit="3"}}
                <div class="post-feed">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
                {{/get}}
            </div>
        </main>

        {{!-- Footer (Portrait mode only) --}}
        <div class="portrait">
            {{> "site-footer" }}
        </div>

    </div>
</body>
</html>
