{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> header}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#page}}

<main class="main_minimal" role="main">
    <article class="article__wrapper" role="article">

        <header>
            <h1 class="post__title">{{title}}</h1>
            {{!-- <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> --}}
        </header>

        <section class="post__content-wrapper">
            <div class="post__content">
                {{^has tag="#noFeature"}}
                    <img src="{{feature_image}}" class="kg-image post__feature-image" />
                {{/has}}

                {{content}}
            </div>
        </section>

        <p class="subscribe__divider">###</p>

    </article>
</main>

{{/page}}

{{> footer}}